/backend/node_modules/
/frontend/node_modules/
/backend/.env
/backend/mongo/
/frontend/cypress/
.gitignore
/backend/.eslintrc.json
/frontend/.eslintrc.json
/frontend/.eslintignore
/backend/.eslintignore
/frontend/cypress.config.js
documentation/
/backend/tests/
/backend/.prettierrc
LICENCE
docker-compose.mongo.yaml
README.md
.github/
