private/
gitignored/

# disallow version control, package managment, IDEs, tools etc
**/node_modules
**/.venv
**/.git
**/.github
**/.vscode
**/.idea
**/.zed
**/coverage/
**/cypress.config.js
**/.eslintrc.json
**/.eslintignore
**/.eslintcache
**/.DS_Store
.gitignore

# do not include any data by default (except json)
**/*.db
**/*.bson
**/*.jsonl

**/*.bin
**/*.dat
**/*.data

**/*.swp
**/*.tmp
**/.~lock*
**/*.pid
**/*.seed
**/*.lock

**/*.gz
**/*.tgz
**/*.xz
**/*.zip
**/*.gzip
**/*.tar
**/*.xz
**/*.7z
**/*.rar

**/*.docx
**/*.doc
**/*.xlsx
**/*.xls
**/*.pptx
**/*.ppt
**/*.odt
**/*.odp
**/*.ods
**/*.pdf


# disallow logs
**/*.log
**/*.log*
**/logs
**/log
**/*.cpuprofile
**/*.heapprofile
**/*.heapsnapshot

# disallow configuration
**/*.yml
**/*.yaml
**/*.toml
**/*.conf
**/*.ini
**/cypress.env.json
**/cypress/
**/*Dockerfile
**/tests
**/*docker-compose.mongo.yml
**/README.md
**/LICENSE

# disallow secrects
**/.env
**/.env*
**/*.env.*

# disallow backups
**/backups
# disallow dev seed file
**/mongo

# additional inclusions here
**/documentation
