PORT=3001
SECRET=<your secret string here>
MONGODB_URI_DEV=<URI for mongo container in development>
IMAGEURL=<relative path to a folder you want the app to save images to>
EMAILUSERNAME=<address that will be used to send emails from the application>
EMAILPASSWORD=<password for the aforementioned address>
EMAILHOST=<hostname for nodemailer to connect to>
EMAILPORT=<port for nodemailer to connect to>